

:root {
  --color-black: black;
  --color-white: white;
  --color-boton: #000091;
  --color-fondo-azul-oscuro: #000026;
}

html {
  background: url("https://thumbs.dreamstime.com/b/textura-del-fondo-con-color-azul-marino-y-claro-clara-grunge-143714129.jpg");
  text-align: center;
  color: var(--color-white);
}

.header {
  font-family: arial;
}

fieldset {
  border: none;
}
.header,
body,
button {
  font-weight: bold;
}

h1,
#survey-form,
button {
  border: black 3px solid;
  border-radius: 2rem;
  border-color: var(--color-white);
}

.datos-form {
  margin: 0.25rem auto 0.25rem auto;
  padding: auto;
}

form {
  background: var(--color-fondo-azul-oscuro);
  width: 70%;
  border-radius: 2.2rem;
}

#survey-form {
  margin: 20px auto;
  font-family: georgia;
}

label {
  display: block;
  margin: 10px;
}

input,
select {
  text-align: center;
}

#descripcion {
  font-size: 20px;
}

button {
  background-color: var(--color-boton);
  color: var(--color-white);
  padding: 10px 15px 10px 15px;
}

legend {
  text-decoration: underline;
  padding: 10px;
  font-size: 20px;
}
