



:root{
  --color-fondo: 	#dcdcdc;
  --color-fondo-titulo: #c0c0c0;
}

main{
  padding-top:10px;
  text-align:center;
  background:var(--color-fondo);
  font-family:cursive;
  border: 1px solid #000;
  width:80%;
  margin:auto;
}

#titulo-descrp{
  background:var(--color-fondo-titulo);
  width:50%;
  margin:auto;
  border: 1px solid #000;
  border-radius:20px;
}

#img-div{
  border: 1px solid #000;
  border-radius:20px;
  padding-top:10px;
  background:var(--color-fondo-titulo);
  width:50%;
  margin:10px auto;
}

#imagen{
  display:block;
  margin:0px auto 30px auto;
  width:550px;
  height:500px;
}

#img-caption{
  margin:0px auto 25px auto;
}

#tribute-info{
  background:var(--color-fondo-titulo);
  width:50%;
  margin:auto;
  border: 1px solid #000;
  border-radius:20px;
}

ul{
  list-style: none;
}

li{
  margin:10px;
}

#tribute-link {
  color:red;
}
