



*{
   text-align: center;
   font-weight: bold;
}

.background-not{
    background-color: black;
    width: 50%;
    margin: 10px auto ;
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

button{
    margin-left: 20px;

}

.cuadroNotes{
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.notas{
    background-color: yellow;
    width: 50%;
    margin: 15px auto;
    padding-bottom: 10px;
}
.not{
    list-style:none;
    font-size: 30px;
    color: white;
    padding: 15px;
}
