

.main{
display: block;
}


input{
    box-shadow: 0 0 10px #444444;
    
    margin-bottom: 20px;
}

#tareas{
    font-size: 25px;
    border-style: solid;
    padding: 10px;
}

div{
    display: block;
}

#botones{
    display: grid;
}
#pal{
    text-decoration: none;
    border: 0;
    font-size: 20px;
    padding: 20px;
}


button{
    background-color: blue;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: aqua;
    color:black;
    box-shadow: 0 0 10px #444444;
}