

*{
    font-weight: bold;
}



button{
    margin-right: -4px;
    padding: 20px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 15px;
}

button:hover{
    background-color: rgb(109, 168, 222);
}

button:focus{
    background-color: red;
}

button:active{
    transform: translateY(4px);
}


.set{
    margin:auto;
    padding: 20px;
}
