

*{
    font-weight: bold;
}

.inf, .count, .setup{
    border-color:blue;
    border-style:solid;
    width:50%;
    margin-top:15px;
    padding:1px;
    text-align:center;
    background-color:black;
}
p{
    font-size:20px;
}
button{
    margin-right: -4px;
    margin-left: 15px;
    margin-bottom:25px;
    padding: 20px;
    background-color: blue;
    color: white;
    border-style:solid;
    border-color: white;
    font-size: 20px;
    
}

button:hover{
    background-color: rgb(109, 168, 222);
}

button:focus{
    background-color: red;
}

button:active{
    transform: translateY(4px);
}


.set{
    margin:auto;
    padding: 20px;
}

p{
    text-decoration:underline;
    background-color: black;
    color: white;
    padding: 5px;
   font-size:25px;
}

h1{
    border-color:blue;
    border-style:solid;
    text-align:center;
    width:50%;
}

#numerocont{
    color:white;
    background-color: black;
    width: 50%;
    text-align: center;
    font-size:100px;
     border-color:red;
    border-style:solid;
}

.set{
    margin-bottom:5px;
    text-align:center;
    font-size:15px;
}

